CustomPlaybooks-main/Replaced/Enrich-Comment-EmailDetails/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
        "postDeployment": [],
        "prerequisitesDeployTemplateFile": "",
        "lastUpdateTime": "",
        "entities": [],
        "tags": [],
        "support": {
            "tier": "community",
            "armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author": {
            "name": "Jake Derkowski"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Enrich-Comment-EmailDetails",
            "type": "string"
        },
        "Resource Name": {
            "type": "string",
            "metadata": {
                "description": "Enter value for Resource Name"
            }
        }
    },
    "variables": {
        "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "Resource Name": {
                            "type": "string",
                            "defaultValue": "[parameters('Resource Name')]"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Add_comment_to_incident_(V3)": {
                            "runAfter": {
                                "For_each_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p>@{body('Create_delivery_table_')}<br>\n@{body('Create_sender_info_table')}</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Create_delivery_table_": {
                            "runAfter": {
                                "Select_delivery_values": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "format": "HTML",
                                "from": "@body('Select_delivery_values')"
                            }
                        },
                        "Create_sender_info_table": {
                            "runAfter": {
                                "Select_sender_info": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "format": "HTML",
                                "from": "@body('Select_sender_info')"
                            }
                        },
                        "Filter_Entities_for_MailMessage": {
                            "runAfter": {
                                "Parse_related_entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_related_entities')",
                                "where": "@equals(item()['kind'], 'MailMessage')"
                            }
                        },
                        "Filter_URLs": {
                            "runAfter": {
                                "Create_sender_info_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_related_entities')",
                                "where": "@equals(item()['kind'], 'Url')"
                            }
                        },
                        "For_each_4": {
                            "foreach": "@body('Filter_URLs')",
                            "actions": {
                                "Create_click_count_table": {
                                    "runAfter": {},
                                    "type": "Table",
                                    "inputs": {
                                        "columns": [
                                            {
                                                "header": "UrlVerdict",
                                                "value": "@item()?['properties']?['additionalData']?['DetonationVerdict']"
                                            },
                                            {
                                                "header": "ClickCount",
                                                "value": "@item()?['properties']?['additionalData']?['ClickCount']"
                                            },
                                            {
                                                "header": "EmailCount",
                                                "value": "@item()?['properties']?['additionalData']?['EmailCount']"
                                            }
                                        ],
                                        "format": "HTML",
                                        "from": "@body('Parse_Urls')"
                                    }
                                },
                                "For_each": {
                                    "foreach": "@body('Parse_Urls')",
                                    "actions": {
                                        "Add_comment_to_incident_(V3)_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p>@{items('For_each')?['properties']?['additionalData']?['DetonationFinalUrl']}<br>\n@{body('Create_click_count_table')}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Create_click_count_table": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Parse_Urls": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Parse_Urls": {
                            "runAfter": {
                                "Filter_URLs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Filter_URLs')",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "properties": {
                                                    "additionalData": {
                                                        "properties": {
                                                            "ClickCount": {
                                                                "type": "string"
                                                            },
                                                            "DetonationFinalUrl": {
                                                                "type": "string"
                                                            },
                                                            "DetonationVerdict": {
                                                                "type": "string"
                                                            },
                                                            "EmailCount": {
                                                                "type": "string"
                                                            },
                                                            "FirstSeen": {
                                                                "type": "string"
                                                            },
                                                            "Source": {
                                                                "type": "string"
                                                            },
                                                            "Urn": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "friendlyName": {
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "name",
                                            "type",
                                            "kind",
                                            "properties"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Parse_body": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "eventUniqueId": {
                                                    "type": "string"
                                                },
                                                "object": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "additionalData": {
                                                                    "properties": {
                                                                        "alertProductNames": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "alertsCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "bookmarksCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "commentsCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "tactics": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "techniques": {
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "alerts": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "additionalData": {
                                                                                        "properties": {
                                                                                            "Alert generation status": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "InvestigationName": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "ProcessedBySentinel": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Status": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "alertDisplayName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "alertLink": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "alertType": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "confidenceLevel": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "confidenceScore": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "description": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "endTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "friendlyName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "processingEndTime": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "productName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "providerAlertId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "resourceIdentifiers": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "workspaceId": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "type",
                                                                                                "workspaceId"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "severity": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "startTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "status": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "systemAlertId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "tactics": {
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "timeGenerated": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "vendorName": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type",
                                                                            "kind",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "bookmarks": {
                                                                    "type": "array"
                                                                },
                                                                "comments": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "etag": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "author": {
                                                                                        "properties": {
                                                                                            "email": {},
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "objectId": {},
                                                                                            "userPrincipalName": {}
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "createdTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "lastModifiedTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "message": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "name",
                                                                            "etag",
                                                                            "type",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "createdTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "firstActivityTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "incidentNumber": {
                                                                    "type": "integer"
                                                                },
                                                                "incidentUrl": {
                                                                    "type": "string"
                                                                },
                                                                "labels": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "labelName": {
                                                                                "type": "string"
                                                                            },
                                                                            "labelType": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "labelName",
                                                                            "labelType"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "lastActivityTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "lastModifiedTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "assignedTo": {
                                                                            "type": "string"
                                                                        },
                                                                        "email": {
                                                                            "type": "string"
                                                                        },
                                                                        "objectId": {
                                                                            "type": "string"
                                                                        },
                                                                        "userPrincipalName": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "providerIncidentId": {
                                                                    "type": "string"
                                                                },
                                                                "providerName": {
                                                                    "type": "string"
                                                                },
                                                                "relatedAnalyticRuleIds": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "relatedEntities": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "additionalData": {
                                                                                        "properties": {
                                                                                            "FirstSeen": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Source": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Urn": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "friendlyName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "mailboxPrimaryAddress": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "upn": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type",
                                                                            "kind",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "severity": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "objectEventType": {
                                                    "type": "string"
                                                },
                                                "objectSchemaType": {
                                                    "type": "string"
                                                },
                                                "workspaceId": {
                                                    "type": "string"
                                                },
                                                "workspaceInfo": {
                                                    "properties": {
                                                        "ResourceGroupName": {
                                                            "type": "string"
                                                        },
                                                        "SubscriptionId": {
                                                            "type": "string"
                                                        },
                                                        "WorkspaceName": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Accept-Encoding": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Host": {
                                                    "type": "string"
                                                },
                                                "x-ms-client-keywords": {
                                                    "type": "string"
                                                },
                                                "x-ms-client-tracking-id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_related_entities": {
                            "runAfter": {
                                "Parse_body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Parse_body')?['object']?['properties']?['relatedEntities']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "properties": {
                                                    "additionalData": {
                                                        "properties": {
                                                            "FirstSeen": {
                                                                "type": "string"
                                                            },
                                                            "Source": {
                                                                "type": "string"
                                                            },
                                                            "Urn": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "friendlyName": {
                                                        "type": "string"
                                                    },
                                                    "mailboxPrimaryAddress": {
                                                        "type": "string"
                                                    },
                                                    "upn": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "type",
                                            "kind",
                                            "properties"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Select_delivery_values": {
                            "runAfter": {
                                "Filter_Entities_for_MailMessage": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Filter_Entities_for_MailMessage')",
                                "select": {
                                    "Delivery Action": "@item()?['properties']?['deliveryAction']",
                                    "OriginalDeliveryLocation": "@item()?['properties']?['additionalData']?['OriginalDeliveryLocation']",
                                    "PhishConfidence": "@item()?['properties']?['additionalData']?['PhishConfidenceLevel']",
                                    "Recipient": "@item()?['properties']?['recipient']"
                                }
                            }
                        },
                        "Select_sender_info": {
                            "runAfter": {
                                "Create_delivery_table_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Filter_Entities_for_MailMessage')",
                                "select": {
                                    "Sender": "@item()?['properties']?['p2Sender']",
                                    "Sender's Domain": "@item()?['properties']?['p1SenderDomain']",
                                    "Sender's Ip": "@item()?['properties']?['senderIP']",
                                    "Subject": "@item()?['properties']?['subject']"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "AutomationRule": "Enrich-EmailIncidents",
                "Note": "Complete, use this one",
                "hidden-SentinelTemplateName": "5QC.Enrich-email-plus",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        }
    ]
}